<head>
  <meta charset="utf-8">
  <title>Diseases Expert System</title>
  <nav>
    <a href="/">Home</a>
    <a href="/users">User</a>
    <a href="/obats">Obat</a>
    <a href="/diagnosas">Diagnosa</a>
  </nav>
</head>
