<nav>
  <a href="/">Home</a>
  <a href="/users">User</a>
  <a href="/obats">Obat</a>
  <a href="/diagnosas">Diagnosa</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="/logout" onclick="return confirm(`Apakah anda yakin ingin keluar?`)">Logout</a>
</nav>
<div class="container-fluid">
