<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <h1>diagnosa</h1>
        <h3><%= err %></h3>
        <form action="/diagnosas/add" method="post">
            Nama Penyakit:
            <br>
            <input type="text" name="namaPenyakit">
            <br>

            <input type="submit" value="Submit">
        </form>
        <br>
        <a href="/diagnosas">back</a>
    </body>

</html>
