<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
      <% include ./partials/navigation %>
        <h1>diagnosa</h1>
        <% include ./partials/error %>
        <form action="/diagnosas/add" method="post">
            Nama Penyakit:
            <br>
            <input class="form-control" type="text" name="namaPenyakit">
            <br>
            
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <br>
        <a href="/diagnosas">back</a>
    </body>

</html>
