<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/navigation %>

    <h1>Obat</h1>
    <% include ./partials/error %>

    <form action="/obats/add" method="post">
            Nama Obat:<br>
            <input class="form-control" type="text" name="namaObat"><br>
            Implikasi Obat:<br>
            <select class="form-control" name="implikasiObat">
              <option value="0">TIDAK ADA</option>
              <% dataObats.forEach(function(obat) {%>
              <option value="<%= obat.id %>"><%= obat.namaObat %></option>
              <% }) %>
            </select>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
          </form>
          <br>
          <a href="/obats">back</a>
  </body>
</html>
