<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
      <%=error%>
    <h1>obat</h1>
    <form action="/obats/add" method="post">
            Nama Obat:<br>
            <input type="text" name="namaObat"><br>
            Implikasi Obat:<br>
            <input type="text" name="implikasiObat">
            <input type="submit" value="Submit">
          </form>
          <br>
          <a href="/obats">back</a>
  </body>
</html>
