<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/navigation %>

    <h1>Add User</h1>
    <% include ./partials/error %>

    <form action="/users/add" method="post">
      Username :
      <br>
      <input class="form-control" type="text" name="username" placeholder="Your username">
      <br> Password :
      <br>
      <input class="form-control" type="text" name="password" placeholder="Your password">
      <br> Email :
      <br>
      <input class="form-control" type="text" name="email" placeholder="Your email">
      <br> Role :
      <br>
      <input class="form-control" type="text" name="role" placeholder="Your role">
      <br>
      <br>
      <input class="btn btn-primary" type="submit" value="Add User">
    </form>
    <br>
    <a href="/users">back</a>
  </body>

</html>
