<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    
    <% include ./partials/navigation %>
    <h1>Edit User</h1>
    <% include ./partials/error %>
    <form action="/users/edit/<%= dataUser.id %>" method="post">
      Username : <br>
      <input class="form-control" type="text" name="username" value="<%= dataUser.username %>"><br>
      Password : <br>
      <input class="form-control" type="password" name="password" value=""><br>
      Email    : <br>
      <input class="form-control" type="text" name="email" value="<%= dataUser.email %>"><br>
      Role     : <br>
      <input class="form-control" type="text" name="role" value="<%= dataUser.role %>"><br>
      <br>
      <input class="btn btn-primary" type="submit" name="" value="Edit User">
    </form>
    <br>
    <a href="/users">back</a>
  </body>
</html>
