<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1>Edit Diagnosa</h1>
    <form action="/diagnosas/edit/<%= dataDiagnosa.id %>" method="post">
      Nama Penyakit : <br>
      <input type="text" name="namaPenyakit" value="<%= dataDiagnosa.namaPenyakit %>"><br>
      <br>
      <input type="submit" name="" value="Edit Diagnosa">
    </form>
  </body>
</html>
