<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
      <% include ./partials/navigation %>
        <h1>
            <%= dataConjunction.namaPenyakit%>
        </h1>


        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th>no</th>
                <th>nama obat</th>
            </tr>
            </thead>
            <%let count = 1%>
            <%dataConjunction.Obats.forEach(function(rowObat){%>
                <tr>

                    <td><%=count%></td>
                    <td>
                        <%=rowObat.namaObat %>
                    </td>
                    <%count++%>
                </tr>
                <%})%>

        </table>
        <br>
        <a href="/diagnosas">back</a>
    </body>

</html>
