<!DOCTYPE html>
<html>
  Login Page
  <body>
    <h1>Insert Username and Password</h1>
    
    <form action="/login" method="post">
      Username : <br>
      <input type="text" name="username" placeholder="Your username"><br>
      Password : <br>
      <input type="text" name="password" placeholder="Your password"><br>
      <input type="submit" value="Login">
    </form>
    <br>
    
  </body>
</html>
