<head>
    <meta charset="utf-8">
    <title>Diseases Expert System</title>
    <nav>
        <a href="/pasien">Home</a>
        <a href="/obats">Obat</a>
        <a href="/diagnosas">Diagnosa</a>
    </nav>
</head>