<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1>Penyakit <%= dataDiagnosa.namaPenyakit %></h1>
    <h2>Silahkan Pilih Obat</h2>
    <form action="/patients/sakit/<%= dataDiagnosa.id %>/obat" method="post">
      <% dataDiagnosa.Obats.forEach(function(obat) {  %>
        <input type="checkbox" name="listObat" value="<%= obat.id %>"><%= obat.namaObat %><br>
      <% }) %>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
