<!DOCTYPE html>
<html>
<% include ./partials/head %>
  <nav>
    <a href="/patients/sakit">back</a>
  </nav>
  <div class="container-fluid">
  <body>
    <% include ./partials/error %>
    <h1>Penyakit <%= dataDiagnosa.namaPenyakit %></h1>
    <h2>Silahkan Pilih Obat</h2>

    <form action="/patients/sakit/<%= dataDiagnosa.id %>/obat" method="post">
      <% dataDiagnosa.Obats.forEach(function(obat) {  %>
        <input class="form-control" type="checkbox" name="listObat" value="<%= obat.id %>"><%= obat.namaObat %><br>
      <% }) %>
      <br><br>
      <input class="btn btn-primary"  type="submit" value="Submit">
    </form>
  </body>
</div>
</html>
