<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <div class="container-fluid">
  <body>

    <a href="/patients/logout" onclick="return confirm(`Apakah anda yakin ingin keluar?`)">Logout</a><br>
    <form action="/patients/sakit" method="post">
      <br>
      Daftar Penyakit : <br>
      <select class="form-control" name="id">
        <% dataPenyakits.forEach(function(penyakit) { %>
          <option value="<%= penyakit.id %>"><%= penyakit.namaPenyakit %></option>
        <%})%>


      </select>
      <br>
      <input class="btn btn-primary" type="submit" name="" value="submit">
    </form>
  </body>
</div>
</html>
